.fill-remaining-space{    
    flex: 1 1 auto;
}

.menu-icon{
    padding-right: 1rem;
    cursor: pointer;
    float:right;
}
.one{
    font-size: 10px;
}
.Purple {
    background-color: rgb(255, 166, 0);
}
.Indigo {
    background-color: #3F51B5;
}
.Green {
    background-color:rgb(6, 245, 193);
    
}
.Pink {
    background-color: rgb(247, 7, 147);
}
.mat-radio-button {
    padding: 7px 12px;
    display: block !important;
}